/* remove default margin padding */
*{
  margin:0;
  padding:0;
}
/* Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Righteous&display=swap");

@font-face {
    font-family: 'righteousregular';
    src: url('../webfonts/Righteous-Regular.woff2') format('woff2'),
         url('../webfonts/Righteous-Regular.woff') format('woff');
         url('../webfonts/Righteous-Regular.ttf') format('ttf');
         url('../webfonts/Righteous-Regular.eot') format('eot');

    font-weight: normal;
    font-style: normal;

}

/* variable for color and font family */
:root {
  /* color variable */
  --primary: #000;
  --seconday: #f6d601;
  --text: #fff;
  --acent: #3e3e3e;

  /* font variable */
  --primary-fonts: "righteousregular", sens-serif;
  --secondary-fonts: 'Poppins', sans-serif;
}
.section_padding{
  padding: 7% 0;
}
.container {
  width: 1140px;
  margin: 0 auto;
}

/* header Part */
#header_part {
    height: 70px;
    padding-top: 35px;
}
.header-left {
  float: left;
  width: 50%;
}
.header-right {
  width: 50%;
  float: right;
}
.menu ul li {
  display: inline-block;
  padding: 0 10px;
}
.header-right {
  width: 50%;
  float: right;
  text-align: right;
}
.menu ul li a {
  color: var(--primary);
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}
.menu ul li a:hover {
  color: var(--seconday);
}
a.signin_btn {
  text-transform: none !important;
  font-size: 18px !important;
  padding: 11px 30px;
  background: var(--seconday);
  border-radius: 60px;
}
a.signin_btn i {
  padding: 0px 9px;
}
a.signin_btn:hover {
  color: var(--text); !important;
}
/* banner section */
div#banner_section {
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  color: var(--text);
  font-family: var(--primary-fonts);
  padding:7% 0;
}
.title-primary {
    font-size: 60px;
    padding-bottom: 28px;
    font-weight: 700;
}
.title-secondary {
    font-size: 36px;
    padding-bottom: 15px;
    font-weight: 700;
}
.content-inner h3 {
    font-size: 30px;
    color: var(--seconday);
    padding-bottom: 20px;
}
.content-inner p, .variety-inner p {
    padding-bottom: 7%;
    font-size: 20px;
    line-height: 1.5em;
    font-family: var(--secondary-fonts);
}
.btn-read {
    background: #fff;
    padding: 17px 55px;
    font-size: 20px;
    text-decoration: none;
    transition: 0.4s all ease;
}
.btn-read:hover {
    background: var(--seconday);
    border-radius: 30px;
}
/* variety of cars */
section#variety_of_cars {
    text-align: center;
    font-family: var(--primary-fonts);
    overflow: hidden;
}
.car {
    float: left;
    width: 33%;
}
.cars-name {
    float: left;
    width: 33%;
    padding: 2% 0;
    background: var(--seconday);
    margin-top: 4%;
}
.cars-name h2 {
    font-weight: 400;
}

/* search car */
#search_car_area {
    background-image: url("../img/bg.jpg");
    overflow: hidden;
    background-size: cover;
    background-position: center;
}
.search-content {
    float: right;
    width: 50%;
    background: #fff;
    padding: 20px;
}
select {
    width: 100%;
    padding: 3%;
    margin-bottom: 3%;
    border: 1px solid #ddd;
}
.search-content h2 {
    text-align: center;
    font-family: var(--primary-fonts);
    padding-bottom: 10%;
}
input.btn-read {
    background: #000;
    color: #fff;
    border: 0;
    margin: 4% 0 4% 33%;
}